---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Light-House Report | riteshrajshetage.me"
  description="Detailed Light-House performance report for riteshrajshetage.me"
>
  <main style="margin:0; padding:0; height:100vh;">
    <iframe
      src="riteshrajshetage.me-20251227T112016.html"
      width="100%"
      height="100%"
      style="border:none; margin:0; padding:0; display:block;"></iframe>
  </main>
</BaseLayout>
