---
import { icons, type IconName } from "../lib/icons";

interface Props {
  name: IconName | string;
  size?: number;
  class?: string;
  id?: string;
}

const { name, size = 24, class: className = "", id, ...rest } = Astro.props;
const attributes = id ? { id, ...rest } : rest;
const icon = icons[name as IconName];
---

<div class={className} {...attributes} set:html={icon?.toSVG({ width: size, height: size }) || ''}></div>
